body{
    margin: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1, nav{
    text-align: center;
}
h1{
    padding: 10px;
    font-size: 40px;
}
nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}
.links{
    background-color: rgb(216, 190, 190);
    padding: 20px;
    border: 2px solid black;
    font-size: 20px;
}
p, li{
    font-size: 20px;
    padding-right: 30px;
    line-height: 40px;
}
img{
    width: auto;
    height: 400px;
    grid-column: 1fr;
    grid-row: 1fr;
}
.pics{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-column-gap: 5px;
}